<div class="web">
  <h2>Website Projects</h2>
  <div class="row">
    {{#each collections.web}}
    <div class="col-md-6">
      <div class="card row">
        <h4>{{this.title}}</h4>
        <img src="{{this.image}}" alt="{{this.title}} Screenshot" class="img-responsive" />
        <div class="text-center">
          <a href="/{{this.path}}">
            <button type="button" name="button">View Project</button>
          </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<hr>
<div class="blackberry">
  <h2>BlackBerry Projects</h2>
  <div class="row">
    {{#each collections.blackberry}}
      <div class="col-xs-6 col-md-4">
        <div class="card row">
          <h4>{{this.title}}</h4>
          <img src="{{this.image}}" alt="{{this.title}} Screenshot" class="img-responsive" />
          <div class="text-center">
            <a href="/{{this.path}}">
              <button type="button" name="button">View Project</button>
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<hr>
<div class="webapps">
  <h2>Web Application Projects</h2>
  <div class="row">
    {{#each collections.webapps}}
      <div class="col-md-6">
        <div class="card row">
          <h4>{{this.title}}</h4>
          <img src="{{this.image}}" alt="{{this.title}} Screenshot" class="img-responsive" />
          <div class="text-center">
            <a href="/{{this.path}}">
              <button type="button" name="button">View Project</button>
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
