{{> head}}
  <div class="container-fluid banner">
    <div class="">
      <header>
        <div class="row">

          {{> header}}

        </div>
      </header>
      <div class="">
        <div class="banner-text">
          <h1 class="title animated fadeInRight">Forbes Gray</h1>
          <p class="animated slideInUp">
            Web | Javascript | NodeJS | MongoDB
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center top-bottom-margin">
      <div class="col-md-8 col-md-offset-2">
        {{{ contents }}}
      </div>
    </div>
    <hr>
    <div class="row text-center top-bottom-margin">
      <div class="">
        <h3>Projects...</h3>
        {{#each collections.web}}
        <div class="project col-md-4 ">
          <div class="project-container">
            <div class="image-block">
              <a href="{{this.url}}" target="_blank">
                <figure>
                  <img src="{{this.image}}" alt="{{this.title}} Image" />
                </figure>
              </a>
            </div>
            <div class="overlay-block">
              <div class="text-block">
                <h4>{{this.title}}</h4>
                <a href="/{{this.path}}">
                  <button type="button" name="button">View Project</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        <div class="text-center">
          <a href="/portfolio">
            <button type="button" name="button">View more Projects</button>
          </a>
        </div>
      </div>
    </div>
  </div>

{{> footer}}
