{{> head}}
<div class="container-fluid banner {{toLowerCase title}}">

  <div class="banner-inner">
    {{> header}}
    <div class="banner-text-container">
      <div class="banner-text">
        <h1 class="title">{{title}}</h1>
        <h2 class="subtitle">
          {{subhead}}
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="container main-container">
  <div>
  <!-- Portfolio Page -->
  {{#if portfolio}}
    {{> projects}}
    {{else}}
    <!-- Contact Page -->
    {{#if contact}}
      {{> contact}}
      {{else}}
      <div class="page-contents">
        {{{contents}}}
      </div>
    {{/if}}
    <!-- End Contact Page -->
  {{/if}}
  <!-- End Portfolio Page -->


  </div>
</div>

{{> footer}}
