{{> head}}
<div class="container-fluid banner project-page">

  <div class="">
    <header>
      <div class="row">

        {{> header}}

      </div>
    </header>
    <div class="">
      <div class="banner-text">
        <h1 class="title">{{title}}</h1>
        <p >
          {{subhead}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container project-page">
  <div class="col-md-8 col-md-offset-2">
    <div class="title">
      <h2>{{title}}</h2>
    </div>
    <div class="row">
      <div class="col-md-8">
        {{{ contents }}}
      </div>
      <div class="col-md-4">
        <img src="{{rootPath}}{{image}}" alt="{{title}} Screenshot" class="img-responsive" />
        <div class="tags text-right">
          <h4>Technologies Used</h4>
          {{#each features}}
            <h6>{{this}}</h6>
          {{/each}}
        </div>
        <div class="text-right">
          <a href="{{url}}" target="_blank"><button class="button">View  <i class="fa fa-external-link"></i></button></a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
